header {
  height: 50px !important;
}
header > * {
  display: none;
}

/* コース概要 */
section[data-block="myoverview"] {
  display: none;
}

/* 残り時間表示 */
.date-left-extension {
  color: black;
}
.date-left-extension.deadline {
  color: red;
}

/* 時間割表 */
#classtable_extension {
  border: 2px solid orange;
}
#classtable_extension tr td {
  padding: 0px 10px 0px 10px;
  border: 2px solid orange;
  background-color: white;
}
.tenminyasumi {
  background-color: gainsboro;
}
#day_select_extension, #term_select_extension{
  margin-left: 1em;
  border: none;
}
#classtable_extension tr td:nth-child(2) {
  min-width: 100px;
  background-color: white;
}
#classtable_extension tr td:nth-child(2).blankClass {
  background-color: gainsboro;
}

/* 時間割外クラス表示 */
#special_class_extension {
  border-collapse: separate;
  border-spacing: 0 10px;
}
#special_class_extension tr td {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
}

/* ToDoリスト */
#today_todo_extension {
  border-collapse: separate;
  border-spacing: 0 10px;
}
#today_todo_extension tr td {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
}
.todo_button_extension {
  margin-left: 10px;
  border: solid 1px chocolate;
  border-radius: 3px;
  background-color: white;
  color: chocolate;
  font-size: .9375rem;
}
.todo_button_extension:hover {
  background-color: chocolate;
  color: white;
}

/* 1週間の時間割のやつ */
#overlay_extension {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
  top: 10vh;
  left: 80vw;,
  width: 80vw;
  height: 80vh;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 3px;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
}
#overlay_extension tr td {
  padding: 10px 0px;
  border: 2px solid orange;
  background-color: white;
}
.todo_button_extension:hover {
  background-color: chocolate;
  color: white,
}
