#extension-main-area {
  min-height: 100px;
  background-color: #f8f9fa;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin-top: -1px;
  overflow-x: auto;
  overflow-y: visible;
  border-radius: .25rem;
}
