#page-content.blocks-pre {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto auto;
}

#page-content.blocks-pre div#region-main-box.region-main {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 100%;
  max-width: none;
  padding-right: 1rem;
}

#page-content.blocks-pre div.columnleft {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 100%;
  max-width: none;
}

#page-content.blocks-pre div.columnright {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  max-width: none;
}

#page-content.blocks-pre div.blockcolumn .block_mycourse_config {
  display: none;
}

#page-content.blocks-pre div.blockcolumn .block_private_files {
  display: none;
}

#page-content.blocks-pre div.blockcolumn .block_badges {
  display: none;
}
